{template 'header'}
<!-- Main Container start -->
<div class="dashboard-container">
  <div class="container">
    <!-- Top Nav Start -->
    {template 'nav'}  <!-- Top Nav End -->
<div class="sub-nav hidden-sm hidden-xs">
  <ul>
    <li><a href="{php echo $this->createWebUrl('index')}" class="heading">首页</a></li>
    <li class="hidden-sm hidden-xs">
      <a href="#" class="selected">基础设置</a>
    </li>
	<li class="hidden-sm hidden-xs">
		<a href="{php echo $this->createWebUrl('config',array('task'=>'text'))}" class="">文字设置</a>
		
    </li>
	<li class="hidden-sm hidden-xs">
		<a href="{php echo $this->createWebUrl('offline',array('task'=>'config'))}" >模板消息配置</a>
	</li>
	<li class="hidden-sm hidden-xs">
		<a href="{php echo $this->createWebUrl('config',array('task'=>'style'))}" >样式设定</a>
	</li>
	{if $this->config_level[can_wecard]==1}
	<li class="hidden-sm hidden-xs">
		<a href="{php echo $this->createWebUrl('config',array('task'=>'wecard'))}" >卡包设定</a>
	</li>
	{/if}
	<li class="hidden-sm hidden-xs">
		<a href="{php echo $this->createWebUrl('config',array('task'=>'codepay'))}" >一码付配置</a>
	</li>
	<li class="hidden-sm hidden-xs">
		<a href="{php echo $this->createWebUrl('config',array('task'=>'safe'))}"  >安全设置</a>
	</li>
  </ul>
  <div class="custom-search hidden-sm hidden-xs">
    <a href="#">会员卡管理中心</a> &gt; <a>首页</a>
  </div>
</div>
<!-- Sub Nav End -->
<ul class="nav nav-tabs">
  <li class="active"><a href="{php echo $this->createWebUrl('config')}">基础设置</a></li>
</ul>
<form class="form-horizontal form" id="form2" action="{php echo $this->createWebUrl('config',array('task'=>'save'))}"method="post">
  <input type="hidden" name="id" value="" />
  <div class="dashboard-wrapper">
	  <div class="form-group">
      <label class="col-xs-12 col-sm-3 col-md-2 control-label">商户名称</label>
      <div class="col-sm-9 col-xs-12">
          <input class='form-control' name='name' value='{$data[name]}' />
      </div>
    </div>
	  <div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">商户logo</label>
		<div class="col-sm-9 col-xs-12">
			{php echo tpl_form_field_image('logo', $data[logo]);}
		</div>
	  </div>
    <div class="form-group">
      <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否启用注册</label>
      <div class="col-sm-9 col-xs-12">
          <input type="radio" name="is_reg" value="1" {if $data['is_reg'] == 1}checked{/if}>启用
          <input type="radio" name="is_reg" value="0" {if $data['is_reg'] == 0}checked{/if}>不启用
      </div>
    </div>
	<div class="form-group">
      <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否关闭短信验证</label>
      <div class="col-sm-9 col-xs-12">
		  <input type="radio" name="close_code" value="0" {if $cardconfig['close_code'] == 0}checked{/if}>否
          <input type="radio" name="close_code" value="1" {if $cardconfig['close_code'] == 1}checked{/if}>是
          
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-12 col-sm-3 col-md-2 control-label">注册填写资料</label>
      <div class="col-sm-9 col-xs-12">
          <label><input type="checkbox" name="reg_data[name]" value="1" {if $cardconfig['reg_data'][name] == 1}checked{/if}>姓名</label>
          <label><input type="checkbox" name="reg_data[idcard]" value="1" {if $cardconfig['reg_data'][idcard] == 1}checked{/if}>身份证号</label>
		  <label><input type="checkbox" name="reg_data[birth]" value="1" {if $cardconfig['reg_data'][birth] == 1}checked{/if}>生日</label>
      </div>
    </div>
	  <div class="form-group">
      <label class="col-xs-12 col-sm-3 col-md-2 control-label">追加表单</label>
      <div class="col-sm-9 col-xs-12">
         <select name="reg_form" class="form-control">
			  <option value="0" {if $cardconfig['reg_form'] == 0}selected{/if}>无</option>
			  {loop $diyform $value}
			  <option value="{$value[id]}" {if $cardconfig['reg_form'] == $value['id']}selected{/if} >{$value[name]}</option>
			  {/loop}
		  </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-12 col-sm-3 col-md-2 control-label">注册是否核对信息</label>
      <div class="col-sm-9 col-xs-12">
		  <select name="is_reg_check" class="form-control">
			  <option value="0" {if $cardconfig['is_reg_check'] == 0}selected{/if}>不核对</option>
			  <option value="1" {if $cardconfig['is_reg_check'] == 1}selected{/if}>核对</option>
			 
		  </select>
     
      </div>
    </div>  
    <div class="form-group">
      <label class="col-xs-12 col-sm-3 col-md-2 control-label">注册时核对信息</label>
      <div class="col-sm-9 col-xs-12">
          <label><input type="checkbox" name="reg_check[tel]" value="1" {if $cardconfig['reg_check'][tel] == 1}checked{/if}>手机号</label>
          <label><input type="checkbox" name="reg_check[name]" value="1" {if $cardconfig['reg_check'][name] == 1}checked{/if}>姓名</label>
          
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-12 col-sm-3 col-md-2 control-label">等级类型</label>
      <div class="col-sm-9 col-xs-12">
		  <select name="level_type" class="form-control">
			  {loop $modellist[ch] $key=>$value}
			  <option value="{$key}" {if $key == $data['level_type']}selected{/if}>{$value}</option>
			  {/loop}
		  </select>
  
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否允许购买会员卡</label>
      <div class="col-sm-9 col-xs-12">
		  <select name="is_buy" class="form-control">
			  <option value="0" {if $cardconfig['is_buy'] == 0}selected{/if}>不允许</option>
			  <option value="1" {if $cardconfig['is_buy'] == 1}selected{/if}>允许</option>
			 
		  </select>
     
      </div>
    </div>
	<div class="form-group">
      <label class="col-xs-12 col-sm-3 col-md-2 control-label">余额购卡</label>
      <div class="col-sm-9 col-xs-12">
		  <select name="buycard_credit2" class="form-control">
			  <option value="0" {if $cardconfig['buycard_credit2'] == 0}selected{/if}>不允许</option>
			  <option value="1" {if $cardconfig['buycard_credit2'] == 1}selected{/if}>允许</option>
			 
		  </select>
     
      </div>
    </div>
	  
	  
	 
	
	
	<div class="form-group">
      <label class="col-xs-12 col-sm-3 col-md-2 control-label">会员充值</label>
      <div class="col-sm-9 col-xs-12">
          <select name='can_recharge' class="form-control">
			  <option value='0' {if $this->config_level[can_recharge]=="0" }selected{/if} >不允许</option>
			  <option value='1' {if $this->config_level[can_recharge]=="1" }selected{/if} >允许</option>
		  </select>
      </div>
    </div>
	
	  <div class="form-group">
      <label class="col-xs-12 col-sm-3 col-md-2 control-label">会员卡绑定方式</label>
      <div class="col-sm-9 col-xs-12">
          <select name='member_bindtype' class="form-control">
			  <option value='0' {if $this->config_level[member_bindtype]=="0" }selected{/if} >手机号</option>
			  <option value='1' {if $this->config_level[member_bindtype]=="1" }selected{/if} >卡密</option>
			  <option value='2' {if $this->config_level[member_bindtype]=="2" }selected{/if} >接口(非定制勿选)</option>
		  </select>
      </div>
    </div>
	<div class="form-group">
      <label class="col-xs-12 col-sm-3 col-md-2 control-label">卡号前缀</label>
      <div class="col-sm-9 col-xs-12">
         <input class='form-control' name='cardnum_head' value='{php echo $this->config_level[cardnum_head]?$this->config_level[cardnum_head]:$_W[weid]}' />
      </div>
    </div>
    <div class="form-group col-sm-12">
      <input name="token" type="hidden" value="07a740f8" />
      <input type="submit" class="btn btn-primary col-lg-1" name="submit" value="保存" />
    </div>
  </div>
</div>
</div>
</form>
</div>
{template 'footer'}