{template 'header'}
<!-- Main Container start -->
<div class="dashboard-container">
  <div class="container">
    <!-- Top Nav Start -->
    {template 'nav'}   <!-- Top Nav End -->
    <div class="sub-nav hidden-sm hidden-xs">
      <ul>
        <li><a href="{php echo $this->createWebUrl('index')}" class="heading">首页</a></li>
        <li class="hidden-sm hidden-xs">
          <a href="{php echo $this->createWebUrl('index')}">店铺管理</a>
        </li>
     </ul>
      <div class="custom-search hidden-sm hidden-xs">
        <a href="{php echo $this->createWebUrl('index')}">店铺管理</a> &gt; <a>首页</a>
      </div>
    </div>
    <!-- Sub Nav End -->

       <ul class="nav nav-tabs">
          <li><a href="{php echo $this->createWebUrl('index')}">店铺管理</a></li>
          <li class="active"><a href="">支付配置</a></li>
      </ul>
	<form class="form-horizontal form" id="form2" action="{php echo $this->createWebUrl('pay',array('task'=>'savepay'))}" method="post">
              <input type="hidden" name="id" value="{$_GPC[id]}" />
                  <div class="dashboard-wrapper">
                      <div class="row">
                          <div class="col-sm-12">
							  
							    <div class="form-group">
                                  <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否独立通道</label>
                                  <div class="col-sm-9 col-xs-12">
									  <select name='status' class='form-control'>
										  <option value='0' {if $config[pay]&&$config[pay][status]==0}selected{/if} >系统</option>
										  <option value='1' {if $config[pay][status]==1}selected{/if} >独立</option>
									  </select>
                                    <span class="help-block"></span>
                                  </div>
                              </div>
							  
                              <div class="form-group">
                                  <label class="col-xs-12 col-sm-3 col-md-2 control-label">商户编号</label>
                                  <div class="col-sm-9 col-xs-12">
                                      <input type="text" class="form-control" name="appid" value="{$config[pay][appid]}"/><span class="help-block"></span>
                                  </div>
                              </div>
							  
                             <div class="form-group">
                                  <label class="col-xs-12 col-sm-3 col-md-2 control-label">商户秘钥</label>
                                  <div class="col-sm-9 col-xs-12">
                                      <input type="text" class="form-control" name="appkey" value="{$config[pay][appkey]}"/><span class="help-block"></span>
                                  </div>
                              </div>
						
                             
                              <div class="form-group col-sm-12">
                                  <input name="token" type="hidden" value="{$_W['token']}" />
                                  <input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" />
                              </div>
                          </div>
                      </div>
                  </div>

          </form>



{template 'footer'}