{template 'header'}
<!-- Main Container start -->
<div class="dashboard-container">
  <div class="container">
    <!-- Top Nav Start -->
    {template 'nav'}  <!-- Top Nav End -->
    <div class="sub-nav hidden-sm hidden-xs">
      <ul>
        <li><a href="{php echo $this->createWebUrl('index')}" class="heading">首页</a></li>
        <li class="hidden-sm hidden-xs">
          <a href="#" class="selected">会员管理</a>
        </li>
     </ul>
      <div class="custom-search hidden-sm hidden-xs">
        <a href="#">会员卡管理中心</a> &gt; <a>首页</a>
      </div>
    </div>
    <!-- Sub Nav End -->

      <ul class="nav nav-tabs">
          <li><a href="{php echo $this->createWebUrl('card')}">会员卡管理</a></li>
          <li class="active"><a href="#">编辑会员卡</a></li>
      </ul>
          <form class="form-horizontal form" id="form2" action="{php echo $this->createWebUrl('card',array('task'=>'save'))}" method="post">
              <input type="hidden" name="id" value="{$_GPC[id]}" />
              <input type="hidden" name="openid" value="{$res[openid]}" />
                  <div class="dashboard-wrapper">
                      <div class="row">
                          <div class="col-sm-12">
                              <div class="form-group">
                                  <label class="col-xs-12 col-sm-3 col-md-2 control-label">会员卡分类</label>
                                  <div class="col-sm-9 col-xs-12">
									  <select class="form-control" name="tid">
										  {loop $cardtype $value}
										  <option value="{$value[id]}" {if $value[id]==$res[tid]}selected{/if} >{$value[name]}</option>
										  {/loop}
									  </select>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-xs-12 col-sm-3 col-md-2 control-label">会员卡卡号</label>
                                  <div class="col-sm-9 col-xs-12">
                                      <input type="text" class=" form-control" name="card" value="{$res[card]}">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-xs-12 col-sm-3 col-md-2 control-label">持卡人姓名</label>
                                  <div class="col-sm-9 col-xs-12">
                                      <input type="text" class=" form-control" name="name" value="{$res[name]}">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-xs-12 col-sm-3 col-md-2 control-label">持卡人电话</label>
                                  <div class="col-sm-9 col-xs-12">
                                      <input type="text" class=" form-control" name="tel" value="{$res[tel]}">
                                  </div>
                              </div>
                              
                              <div class="form-group">
                                  <label class="col-xs-12 col-sm-3 col-md-2 control-label">审核状态</label>
                                  <div class="col-sm-9 col-xs-12">
									  <select name="status" class="form-control">
										  <option value="1" {if $res['status'] == 1}selected{/if} >审核通过</option>
										  <option value="0"  {if $res['status'] == 0}selected{/if} >未审核</option>
									  </select>
                                  <span class="help-block"></span>
                                  </div>
                              </div>
                              <div class="form-group col-sm-12">
                                  <input name="token" type="hidden" value="{$_W['token']}" />
                                  <input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" />
                              </div>
                          </div>
                      </div>
                  </div>

          </form>



{template 'footer'}