{template 'header'}
<!-- Main Container start -->
<div class="dashboard-container">
  <div class="container">
    <!-- Top Nav Start -->
    {template 'nav'}  <!-- Top Nav End -->
    <div class="sub-nav hidden-sm hidden-xs">
      <ul>
        <li><a href="{php echo $this->createWebUrl('index')}" class="heading">超级员工管理</a></li>
        <li class="hidden-sm hidden-xs">
          <a href="#" class="selected">店铺管理</a>
        </li>
		<li class="hidden-sm hidden-xs">
			<a href="{php echo $this->createWebUrl('index',array('task'=>'add'))}" >新增店铺</a>
        </li>
     </ul>
      <div class="custom-search hidden-sm hidden-xs">
        <a href="#">店铺管理</a> &gt; <a>首页</a>
      </div>
    </div>
    <!-- Sub Nav End -->
      <div class="dashboard-wrapper">
          <div class="row">
              <div class="col-sm-12">
                  <div class="panel-body">
                      <table  class="table table-hover"  style="width:100%;z-index:-10;" cellspacing="0" cellpadding="0">
                          <tr>
                              <th style="width:50px;">ID</th>
                              <th style="width:120px;">店铺名称</th>
                              <th style="width:120px;">电话</th>
                              <th style="width:120px;">地址</th>
                              <th style="width:120px;">状态</th>
							  <th style="width:120px;">操作</th>
                          </tr>
                          </thead>
                          {loop $list $value}
                          <tr>
                              <td>{$value[id]}</td>
                              <td>{$value[name]}</td>
                              <td>{$value[tel]}</td>
                              <td>{$value[address]}</td>
                              <td>{if $value[status] == 1}启用{else}禁用{/if}</td>
							  <td>
								  <a href="{php echo $this->createWebUrl('account',array('task'=>'edit','id'=>$value[id]))}">账户配置</a>|
								  <a href="{php echo $this->createWebUrl('pay',array('task'=>'edit','id'=>$value[id]))}">支付配置</a>|
								  <a href="{php echo $this->createWebUrl('index',array('task'=>'edit','id'=>$value[id]))}">编辑</a>
								  |
								  <a href="{php echo $this->createWebUrl('index',array('task'=>'del','id'=>$value[id]))}">删除</a>
							  </td>
                          </tr>
                          {/loop}
                      </table>
                      <div style=" text-align: center">{$pagination}</div>
                  </div>
                  <div class="form-group col-sm-12">
                      <input name="token" type="hidden" value="{$_W['token']}" />
                  </div>
              </div>
          </div>
      </div>
{template 'footer'}