{template 'header'}

<!-- Main Container start -->
<div class="dashboard-container">

  <div class="container">
    <!-- Top Nav Start -->
    {template 'nav'}   <!-- Top Nav End -->
    <div class="sub-nav hidden-sm hidden-xs">
      <ul>
        <li><a href="#" class="heading">首页</a></li>
<!--        <li class="hidden-sm hidden-xs">
          <a href="#" class="selected">会员管理</a>
        </li>-->
      
     </ul>
      <div class="custom-search hidden-sm hidden-xs">
        <a href="#">模块说明</a> &gt; <a>首页</a>
      </div>
    </div>
    <!-- Sub Nav End -->
<div class="dashboard-wrapper">
  <div class="row">
	  <div class="col-sm-12">各位运营的朋友无须紧张，本页仅管理员可见</div>
	   <div class="col-sm-12" style='font-size:16px'>
		  
		  本模块无法单独使用，需要配合超级会员卡使用，如需购买，请点击链接：
		  <a href='http://s.we7.cc/module-3098.html'>点击购买</a>
	   </div>
	  <div class="col-sm-12" style='font-size:16px'>
		  欢迎各位朋友支持疯狼工作组，疯狼工作组承接各种定制开发业务。
		  如需咨询，欢迎入群咨询：<a href="">308681357</a><a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=8a4b6c562bca15048f51f717365c513bf324d5fd00f9d2066628145658250733"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="疯狼工作组-售后群" title="疯狼工作组-售后群"></a>
		  
	  </div>
 
  </div>
</div>
<footer>
  <p>版权信息</p>
</footer>
  </div>
</div></body></html>