{template 'header'}
<!-- Main Container start -->
<div class="dashboard-container">
  <div class="container">
    <!-- Top Nav Start -->
    {template 'nav'}  <!-- Top Nav End -->
    <div class="sub-nav hidden-sm hidden-xs">
      <ul>
        <li><a href="{php echo $this->createWebUrl('index')}" class="heading">首页</a></li>
        <li class="hidden-sm hidden-xs">
          <a href="#" class="selected">会员管理</a>
        </li>
     </ul>
      <div class="custom-search hidden-sm hidden-xs">
        <a href="#">会员卡管理中心</a> &gt; <a>首页</a>
      </div>
    </div>
    <!-- Sub Nav End -->
      <div class="dashboard-wrapper">
          <div class="row">
              <div class="col-sm-12">
                  <div class="panel-body">
                      <table  class="table table-hover"  style="width:100%;z-index:-10;" cellspacing="0" cellpadding="0">
                          <tr>
                              <th style="width:50px;">ID</th>
                              <th style="width:120px;">姓名</th>
                              <th style="width:120px;">卡号</th>
                              <th style="width:120px;">电话</th>
                              <th style="width:120px;">卡类型</th>
                              <th style="width:120px;">状态</th>
                          </tr>
                          </thead>
                          {loop $res $value}
                          <tr>
                              <td>{$value[id]}</td>
                              <td>{$value[name]}</td>
                              <td>{$value[card]}</td>
                              <td>{$value[tel]}</td>
                              <td>{$value[tid]}</td>
                              <td>{if $value[status] == 1}审核通过{else}未审核{/if}</td>
                          </tr>
                          {/loop}
                      </table>
                      <div style=" text-align: center">{$pagination}</div>
                  </div>
                  <div class="form-group col-sm-12">
                      <input name="token" type="hidden" value="{$_W['token']}" />
                  </div>
              </div>
          </div>
      </div>
{template 'footer'}