{template 'header'}
{template 'nav'}

<div id="w1080">
	<div class="main container">
		 <div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">当前系统版本</label>
		<div class="col-sm-9 col-xs-12">
		   {if $reback[check]} {php echo $version?$version:"暂无"}{else}系统未授权，请联系管理员进行授权{/if}
		</div>
	  </div>
		<div style='clear:both'></div>
	  <div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">可更新版本</label>
		<div class="col-sm-9 col-xs-12">
			{if $reback[check]}{php echo $reback['version']?$reback['version']:"暂无"}{else}系统未授权，请联系管理员进行授权{/if}
		</div>
	  </div>
		<div class="form-group col-sm-12">
      <input name="token" type="hidden" value="07a740f8" />
	  {if $reback[check]&&($reback['version']>$version||$_GPC[install]==1)}
      <input type="button" onclick='doupdate()' id='update' class="btn btn-primary col-lg-1" name="submit" value="{if $_GPC[install]}安装模块{else}更新{/if}" />
	  {/if}
    </div>
	</div>
</div>


<script>
	function doupdate(){
		$("#update").val("更新中……");
		$("#update").attr({"disabled":"disabled"});
		
		var url="{php echo $this->createWebUrl('update',array('task'=>'update','start'=>1,'install'=>$_GPC['install']))}";
		var data={
			"model":'{$_GPC[model]}'
		}
		var callback=function(data){
			if(data.file==1){
				{if $_GPC[install]==1}
				alert("安装包下载完成，请到系统模块中心进行安装");
				location.href="{php echo $this->createWebUrl('index')}";
				{else}
				alert("更新完成");
				location.reload();
				{/if}
				
			}else{
				alert("更新失败，请联系售后。")
//				location.reload();
			}
		}
		var type="json";
		$.post(url,data,callback,type);
		
	}
	
	
</script>

{template 'footer'}